name: deploy backend OnlyFlans

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy Backend OnlyFlans to AWS EC2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create dir on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          script: |
            mkdir -p /home/ubuntu/app

      - name: Copy files to server
        uses: burnett01/rsync-deployments@7.0.2
        with:
          switches: "-avz --delete"
          path: "./"
          remote_host: ${{ secrets.EC2_HOST }}
          remote_user: ${{ secrets.EC2_USER }}
          remote_path: "/home/ubuntu/app"
          remote_port: ${{ secrets.EC2_SSH_PORT }}
          remote_key: ${{ secrets.EC2_SSH_KEY }}

      - name: Create .env file on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          script: |
            cat <<EOF > /home/ubuntu/app/.env
            URL_DATABASE=${{ secrets.URL_DATABASE }}
            DRIVER_DATABASE=${{ secrets.DRIVER_DATABASE }}
            USER_DATABASE=${{ secrets.USER_DATABASE }}
            PASSWORD_DATABASE=${{ secrets.PASSWORD_DATABASE }}
            DIALECT_DATABASE=${{ secrets.DIALECT_DATABASE }}
            AWS_S3_BUCKET_NAME=${{ secrets.AWS_S3_BUCKET_NAME }}
            AWS_REGION=${{ secrets.AWS_REGION }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            JWT_ACCESS_EXPIRATION_MS=${{ secrets.JWT_ACCESS_EXPIRATION_MS }}
            JWT_REFRESH_EXPIRATION_MS=${{ secrets.JWT_REFRESH_EXPIRATION_MS }}
            EOF

      - name: Install Docker on server if needed
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          script: |
            # Actualizar e instalar herramientas necesarias
            #sudo apt-get update -y
            #sudo apt-get install -y ca-certificates curl
            #sudo install -m 0755 -d /etc/apt/keyrings
            #sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
            #sudo chmod a+r /etc/apt/keyrings/docker.asc

            # Agregar repositorio de Docker
            #echo \
            #  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
            #  $(. /etc/os-release && echo \"${UBUNTU_CODENAME:-$VERSION_CODENAME}\") stable" | \
            #  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null

            #sudo apt-get update

            # Instalar Docker
            #sudo apt-get install -y docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin

            # Iniciar el servicio de Docker
            #sudo systemctl start docker
            #sudo systemctl enable docker

      - name: Docker compose up on server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: ${{ secrets.EC2_SSH_PORT }}
          script: |
            cd /home/ubuntu/app
            sudo docker compose down || true
            sudo docker compose up -d --build
